<div class="div container-fluid">
  <div class="center container"> <ul class="nav nav-tabs" id="cargas">
          <!--<li class="nav-item" id="carga-1"><a class="nav-link" href="/cargaOca">Perfil Personal</a></li>-->
          <li class="nav-item" id="carga-2"><a class="nav-link disabled" href="/cargaClinica">Perfil Cl&iacute;nica</a></li>
         <!-- <li class="nav-item" id="carga-3"><a class="nav-link" href="/cargaSum">Perfil Acad&eacute;mica</a></li>
          <li class="nav-item" id="carga-4"><a class="nav-link" href="/cargaUnayoe">Perfil psicologicos</a></li>
-->
     </ul>
    
     <div class="tab-content">
          <div class="container p-4">
               {{>mensajeFinal}}
               <div class="row">
                         <p>Seleccione el archivo excel con los datos de la clínica universitaria</p>
                 <form action="/cargaClinica" method="post" enctype="multipart/form-data">
                                   <div class="div group">
                                        <input type="file" class="form-control-file" name="filename">
                                   </div>
                   <div class="row" style="padding-top:12px"> <div class="col-md-4"><a class="btn btn-sm btn-danger" href="/cargaOca"><i class="fas fa-long-arrow-alt-left"></i> Regresar</a></div> 
                     <div class="col-md-4 text-center"><button type="submit" class="btn btn-dark btn-sm"><i class="fas fa-upload"></i> Cargar</button></div>
                     <div class="col-md-4 text-right"><a class="btn btn-success btn-sm" href="/cargaSum">Saltar <i class="fas fa-long-arrow-alt-right"></i></a></div></div>
                   
                              </form> 
                    
               </div>
          </div> 
     </div>
</div>
  </div>
    

    <style>
.center{
    width: 500px;
    margin: 7% auto;
  border-radius:7px;
  border: 1px solid #c9c9c9;
}
</style>

{{!-- <br>
<div class="div container-fluid">
     <ul class="nav nav-tabs" id="cargas">
          <li class="nav-item" id="carga-1"><a class="nav-link" href="/cargaOca">Carga de datos de la OCA</a></li>
          <li class="nav-item" id="carga-2"><a class="nav-link disabled" href="/cargaClinica">Carga de datos de la clínica</a></li>
          <li class="nav-item" id="carga-3"><a class="nav-link" href="/cargaSum">Carga de datos del SUM</a></li>
          <li class="nav-item" id="carga-4"><a class="nav-link" href="/cargaUnayoe">Carga de datos Unayoe</a></li>

     </ul>


 
     <div class="tab-content">
          <div class="container p-4">
               {{>mensajeFinal}}
               <div class="row">
                    <div class="col-md-4 mx-auto">
                         <div class="card card-body text-center">
                              <p>Elija el archivo Excel con los datos de la clínica universitaria</p>
                              <form action="/cargaClinica" method="post" enctype="multipart/form-data">
                                   <div class="div group">
                                        <input type="file" class="form-control-file" name="filename">
                                   </div>
                                   <button type="submit" class="btn btn-dark btn-sm">import excel</button>
                              </form>
                         </div>
                    </div>
               </div>
          </div> 
     </div>
</div> --}}